@model ToDo

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/normalize.css" type="text/css" />
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous">
<link rel="stylesheet" href="~/StyleSheet.css" type="text/css" />

<h2>Details</h2>

<div>
    <h4>To-Do Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Finished)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Finished)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ListID)
        </dt>
        <dd>
            @(Html.DropDownListFor(model => model.ListID, new SelectList((IEnumerable<ToDoList>)ViewData["TodoList"], "ID", "Name")))
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Update" asp-route-id="@Model.ID">Update</a> |
    <a asp-action="Index">Back to List</a>
</div>